<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Inflection-io" parallel="tests" thread-count="1" verbose="3"
       configfailurepolicy="continue">
    <test name="Inflection-io Tests">
        <classes>
            <class name="integrationTest.EmailTemplateTest"/>
            <class name="integrationTest.RecipientsListTest"/>
        </classes>
    </test>
</suite>
